@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   line-height: 1.6;
}

html, body{
   height: 100%;
}

/** Classe para Centralizar**/
.container {
   max-width:960px;
   margin-left: auto;
   margin-right: auto;
}

/**flexbox**/
.flex-box{
   display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;}
   
   
header { 
    top:0;
    z-index: 10;
    width:100%;
    position:fixed;
    font-family:'Hind', sans-serif;
    font-weight:300;
    color:#fff;
    background-color: rgba(36, 36, 51, 0);
    height: 50px;
}

.fx header{
   background-color: $bg-color-fx;
   transition: all .4s;
}

section div {
   
   margin:$external-spacing;
}

header ul li { 
   list-style: none;
   display: inline;
   font-size:14px;
}

/* Cabeçalho*/
a{
   text-decoration: none;
   padding:5px;
   color:#fff;
}

a:hover{
   color: $purple-color;
}

/*logo*/
a img{
   width:120px;
}

section{
    margin-bottom: $external-spacing;
    padding: $internal-spacing;
    font-family:'Hind', sans-serif;
    font-weight:400;
    color: #68687C;
}

/*Section geral*/
section h1 {
   font-weight:600;
   color: #34314B;
  
}

/*Para H1 ocupar a linha inteira*/
.flex-basis-grow{
   flex-grow: 1;
   flex-basis: 960px;
   padding-bottom:$internal-spacing;
}
body{
   margin-top:0;
}
/*Photo by Safar Safarov on Unsplash*/
#intro {
   position: relative;
   width: 100%;
   max-width: 100%;
   height: 100vh;
   max-height: 100vh;
   background-image:url('../img/modificada.jpg');
   background-attachment: fixed;
   background-position:center center;
   background-size:cover;
   background-repeat:no-repeat;
   
}
.fa-angle-down{
   color:#fff;
   //#574AE2;
}

.scroll-down-icon {
   position: absolute;
   left: 50%;
   bottom: 30px;
   -webkit-animation: scroll-down-anim 1s infinite;
   -moz-animation: scroll-down-anim 1s infinite;
   -o-animation: scroll-down-anim 1s infinite;
   animation: scroll-down-anim 1s infinite;
   z-index: 2;
}

@keyframes scroll-down-anim{
   0% {bottom:30px;}
   100% {bottom:40px; }
}



#intro .row-1{
   
   position: absolute;
   top:200px;
   right:10px;
   left: 10px;
   color:#fff;
   font-size:50px;
   font-weight: 900;
   letter-spacing: 5px;
   text-align:center;
}

#intro .row-2{
   position: absolute;
   top:260px;
   right:10px;
   left: 10px;
   color:#fff;
   font-size:50px;
   text-align:center;
}

/*Sobre/ imagem*/

#sobre img{
    float:left;
    width:$size;
    height:$size;
    border-radius:50%;
    shape-outside:circle();
    margin-right: 15px;
    shape-margin: 15px;
    object-fit: cover;
}
/*Habilidades*/
#skills{
   align-items: flex-start;
   
   
}

.skill-item{
   display:flex;
   flex-direction: column;
   flex:1;
   padding:0;
   margin: 10px;
   width:calc(960px / 4 );
   /*border-radius:5px;
   border: 1px solid #ccc;*/
}

.skill-item:hover i{
   color:$purple-color;
   cursor:text;
   
}

.skill-item i, .skill-item h3, .skill-item ul{
   text-align:center;
   padding:10px;
}

.skill-item ul li{
   padding:5px;
   //padding:5px 0 5px 0;
}



.idiomas .ul-idiomas li {
   
  // text-align:center;
   display:inline;
  
}


.skill-item ul > li{
   list-style: none;
}

 //circulo em cada card skill
 .circle{
   width:80px;
   height:80px;
   border : 1px solid pink;
   border-radius:50%;
  
}

.star{
   width:20px;
   height: 20px;
  
 }
 
 //Formação Academica

 .form-item{
   justify-content: flex-start;
   align-items: flex-start;
    
 }
 .form-item img{
   box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 14px;
   padding:5px;
   border-radius: 8px;
   
 }
 
/*Portfólio*/
.port-item{
    width:$size;
    height:$size;
    border: 1px solid $purple-color;
    margin:5px;
    border-radius:5px;
}

/*Contato*/

#contato{
   background-color:#ccc;
   color:#34314B;
   margin-bottom: 0;
   font-size: 18px;
}

#contato .container{
   padding: $internal-spacing;
}

address{
   margin-top:$internal-spacing;
  
}



.contato-item{
   display:flex;
   align-items: center;
   justify-content: center;
   text-align: center;   
   flex-direction: column;       
 }

.contato-item a {
   color:#34314B;
 

}
.contato-item a:hover {
   color:$purple-color;

}

.social li{
 display: inline;
 list-style: none;
 padding:0;

}


footer{
     display:flex;
     justify-content: center;
     align-items: center;
     height:100px;
     font-family:'Hind', sans-serif;
     font-weight:400px;
     background-color:$bg-color-fx;
     color: #fff;
  }
  
  @keyframes pulse{
     0% { transform: scale(.8)}
     100% { transform: scale(1) }
  }
 
  footer img {
     width:25px;
     height:25px;
     
     animation : pulse 1s infinite alternate ease-in-out;
 
  }

  .text{
   width:250px;
  }

  .icons{
   width:120px;

  }

  .item-foo{
     height:40px;

  }
  

 
 